.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 98vw;
  height: 100vh;
  z-index: -1; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-video {
  width: 98vw;
  height: 100vh;
}

@media only screen and (min-width: 1px) and (max-width: 768px) {

}